* {
	font-family: consolas;

}

body {
	background-color: #315795ff;
}

#content {
	color: white;
	margin: 5px;
}

.navbar-brand {
	font-size: 175%;
}

.nav-link {
	font-size: 100%;
	color: white;
}

.custom-colour {
	background-color: #1f3a67ff;
}