<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='assets/images/logo.ico') }}" />
	    
	    <link 
	    	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	    	rel="stylesheet"
	    	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	    	crossorigin="anonymous"
	    />
	    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	    <title>Code Depot | About</title>

		<script src="index.js"></script>

	</head>
	<body onload="document.body.style.opacity='1'">
		
		<nav class="navbar navbar-expand-lg navbar-dark custom-colour fixed-top">
		  <div class="container-fluid">
		    <a class="navbar-brand" href='/'>
		    	<img id="logo" src="{{ url_for('static',filename='assets/images/logo_no_text.png') }}" alt="logo" height="36">
		    	Code Depot
		   	</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-button-container">
		          <a class="nav-button" aria-current="page" href='/'>Home</a>
		        </li>
		        <li class="nav-button-container">
		          <a class="nav-button" href='{{ url_for("favourites") }}'>Favourites</a>
		        </li>
				<li class="nav-button-container">
					<a class="nav-button" href='{{ url_for("suggest") }}'>Suggest a Course</a>
				</li>
		        <li class="nav-button-container">
		          <a class="nav-button active-button" href='{{ url_for("about") }}'>About</a>
		        </li>
		      </ul>
			  {% if logged_in %}
		    	<t id="welcome" class="welcome">Hello, {{name}}</t>
		    	<a class="log-in-button" href='{{ url_for("logout") }}'>Log Out</a>
			  {% endif %}
			  {% if logged_in == False %}
				<a class="log-in-button" href='{{ url_for("login") }}'>Log In</a>
				<a class="sign-up-button" href='{{ url_for("signup") }}'>Sign Up</a>
			  {% endif %}
		    </div>
		  </div>
		</nav>
		

		<div id="about-content">
			<h1 id="about-title">About Us</h1>
			<div id="about-text">
				<p>Code Depot is the quickest and easiest way to find free online courses for any of your programming endeavours. Simply choose from our collection of handpicked video series and begin your coding journey, free of charge!</p>	
			</div>
			<div id="about-logo"><img id="logo" src="{{ url_for('static',filename='assets/images/logo_no_text.png') }}"> Code Depot</div>

			<h1>Our Team</h1>
			<div id="team" class="team-grid-container">
				<div class="profile">
					<a href="https://github.com/nelimalu" target="_blank"><img class="profile-pic" src="{{ url_for('static', filename='assets/images/luka_profile.jpg') }}" alt="Luka"></a>
				</div>
				<div class="profile">
					<a href="https://github.com/NyooHooHoo" target="_blank"><img class="profile-pic" src="{{ url_for('static', filename='assets/images/aidan_profile.jpg') }}" alt="Aidan"></a>
				</div>
				<div class="profile">
					<a href="https://github.com/Red4Wiz" target="_blank"><img class="profile-pic" src="{{ url_for('static', filename='assets/images/sailesh_profile.jpg') }}" alt="Sailesh"></a>
				</div>
				<div class="profile">
					<a href="https://github.com/bsfaxious" target="_blank"><img class="profile-pic" src="{{ url_for('static', filename='assets/images/brian_profile.jpg') }}" alt="Brian"></a>
				</div>

				<div class="bio">
					<h2>Luka Jovanovic</h2>
					<p>Hello, I'm Luka. I'm currently in grade 9 at William Lyon Mackenzie C.I. Though this was my first official hackathon, I've had the most experience out of the team in development through personal projects over the years, so I worked on front- and back-end for Code Depot. Nevertheless, I was still able to learn so much through our work on this project, particularly in the Flask framework.</p>
				</div>
				<div class="bio">
					<h2>Aidan Wang</h2>
					<p>Hi! I'm Aidan, a ninth-grader at WLMCI. I worked mainly on front-end development and graphic design for Code Depot. This was my first hackathon and first dive into web development at all, but it was very fun and really expanded my perspective on what can be created with code. I've learned a lot in the past few days with our team and I'm excited to participate in more of these events in the future!</p>
				</div>
				<div class="bio">
					<h2>Sailesh Badri</h2>
					<p>Hello! My name is Sailesh and I'm also a ninth-grader at William Lyon Mackenzie C.I. For Code Depot, I worked on front-end, specifically the logic for several of the website's features. It was a great learning experience for me working on a project this large, and I'll definitely be on the lookout for similar opportunities from now on!</p>
				</div>
				<div class="bio">
					<h2>Brian Song</h2>
					<p>I'm Brian, another grade 9 from WLMCI. I worked on front-end for Code Depot and did the slave labour of finding decent videos to be used on the site. I've very lightly dabbled in web development before but it was fun being able to see some of the concepts I've learned before come into play. Looking forward to future experiences like this!</p>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<p>Made by The Code Depot Team</p>
		<a href="https://github.com/nelimalu/CodeDepot" target="_blank"><img id="github-link" src="{{ url_for('static',filename='assets/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png') }}"></a>
	</footer>
</html>